dut=host_name_or_ip
username=
password=
ifin=<network interface to send packets to DUT>
ifout=<network interface to receive packets from DUT>
scapy=<SCAPY directory>
path=<path on DUT for remote application>
cmd=<remote application>