dut=<DUT host name or IP>
dut_username=
dut_password=
dut_path=<path on DUT for remote application>
dut_cmd=<remote application>
iface_sendifin=<network interface to send packets to DUT>
iface_recv=<network interface to receive packets from DUT>
scapy_path=<SCAPY directory>
